.containerBase {
    width: 20%;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25vh 6vh 4vh 6vh;
    text-align: center;
    

    img{
        width: 100%;
    }

    img:hover {
        opacity: 0.5;
    }

    .pDeco {
        position: relative;
        color: yellow;
        font-weight: bold;
        font-size: 46px;
        top: -50px;
    }
}

.container2 {
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows: 2vh;
    text-align: center;
    text-align: center;

    img {
        width: 8%;
        margin-right: 5px;
    }

    i {
        margin-right: 15px;
        color:rgba(168, 167, 167, 0.698);
    }
}

.container3 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5vh;
    text-align: center;

    span {
        color: rgba(168, 167, 167, 0.698);
    }
}

.container4 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6vh;
    text-align: center;

    i {
        position: relative;
        top: -1px;
        margin-right: 5px;
        font-size: 10px;
    }
}

